# =========================
# Python basics
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs & experiment outputs
# =========================
logs/
outputs/
results/
experiments/
wandb/
tensorboard/
runs/

# Specific to your project


# =========================
# Checkpoints / models
# =========================
*.pt
*.pth
*.ckpt
*.pkl

# =========================
# Datasets (important for D4RL)
# =========================
data/
datasets/
*.hdf5
*.npz

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log
*.tmp